body {
    background-color:beige
}
.pageTitle {
    text-align: center;
    padding-bottom: 50px;
}

.welcome {
    color:rgb(86, 173, 244);
    background-color:rgb(241, 213, 143);
    border-radius: 10px;
    padding: 20px;
}
img {
    background-color:transparent;
}
.container {
    background-color: beige;
    margin-left: 150px;
    margin-right: 150px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .pokemon{
    background-color:beige;
    display: inline;
    width: 200px;
    height: 200px;
    border-radius: 10%;
  }
  .name {
    width:125px;
    text-align: center;
  }

  .nameShow {
    width: auto;
    background-color: rgb(23, 189, 235);
    color: white;
    border-radius: 5px;
  }
  .forms {
    display: flex;
    width: 125px;
    margin-top: -2px;
    justify-content: center;
    align-items: center;
  }
.name, .forms {
    background-color: rgb(23, 189, 235);
    color: white;
    border-radius: 3px;

}

.edit, .delete {
    background-color: rgb(23, 189, 235);
    color: white;
    border: none;
    text-align: center;
}
